:root {
    
    /* Primary */
    --c-soft-red: hsl(10, 79%, 65%);
    --c-cyan: hsl(186, 34%, 60%);
    
    /* Neutral */
    --c-dark-brown: hsl(25, 47%, 15%);
    --c-medium-brown: hsl(28, 10%, 53%);
    --c-cream: hsl(27, 66%, 92%);
    --c-very-pale-orange: hsl(33, 100%, 98%);
    
    /* Fonts */
    --ff-dm-sans: "DM Sans", sans-serif;
    
    --fs-16: calc(16 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-36: calc(36 / 16 * 1rem);
    
    --font-size-main: var(--fs-18);
    --font-size-h1: var(--fs-36);
    
    --fw-regular: 400;
    --fw-bold: 700;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--c-cream);
    color: var(--c-medium-brown);
    font-family: var(--ff-dm-sans);
    font-size: var(--font-size-main);
    font-weight: var(--fw-regular);
    display: grid;
    place-items: center;
    min-height: 100vh;
    line-height: 1.5;
}

h1 {
    color: var(--c-dark-brown);
    font-size: var(--font-size-h1);
    font-weight: var(--fw-bold);
    line-height: 1.1;
}