:root {
    
    /* Primary */
    --c-soft-red: hsl(10, 79%, 65%);
    --c-cyan: hsl(186, 34%, 60%);
    
    /* Neutral */
    --c-dark-brown: hsl(25, 47%, 15%);
    --c-medium-brown: hsl(28, 10%, 53%);
    --c-cream: hsl(27, 66%, 92%);
    --c-very-pale-orange: hsl(33, 100%, 98%);
    
    /* Fonts */
    --ff-dm-sans: "DM Sans", sans-serif;
    
    --fs-18: calc(18 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-30: calc(30 / 16 * 1rem);
    --fs-34: calc(34 / 16 * 1rem);
    
    --font-size-main: var(--fs-18);
    --font-size-h2: var(--fs-28);
    
    --fw-regular: 400;
    --fw-bold: 700;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--c-cream);
    color: var(--c-medium-brown);
    font-family: var(--ff-dm-sans);
    font-size: var(--font-size-main);
    font-weight: var(--fw-regular);
    
    display: grid;
    place-items: center;
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2 {
    line-height: 1.1;
}

h2 {
    color: var(--c-dark-brown);
    font-size: var(--font-size-h2);
    font-weight: var(--fw-bold);
}

/* Components */
.expense-card {
    width: calc(100% - 16px);
    margin-inline: auto;
}

.header {
    background-color: var(--c-soft-red);
    color: var(--c-very-pale-orange);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin-block-end: 1rem;
    
    & .balance-amount {
        font-size: var(--fs-28);
        font-weight: var(--fw-bold);
    }
}

.spending-section {
    background-color: var(--c-very-pale-orange);
    border-radius: 1rem;
    padding: 2.5rem 1.5rem;
    
    & .total-month {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    
    & .this-month-amount {
        color: var(--c-dark-brown);
        font-size: var(--fs-34);
        font-weight: var(--fw-bold);
    }
    
    & .last-month-percent {
        color: var(--c-dark-brown);
        font-weight: var(--fw-bold);
    }
}

.chart-container {
    border-bottom: 2px solid var(--c-cream);
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 1rem;
    padding-block: 4rem 1.5rem;
}

.day-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bar {
    background-color: var(--c-soft-red);
    border-radius: 3px;
    align-self: center;
    width: 32px;
    transition: height 1000ms ease-out;
}

/* use for JavaScript*/
.bar-value {
    position: absolute;
    /* display: none; */
    top: -35px;
    background-color: var(--c-dark-brown);
    color: var(--c-very-pale-orange);
    border-radius: 3px;
    width: 50px;
    height: 30px;
}

/* Bar heights */
.mon {
    height: 50px;
}

.tue {
    height: 90px;
}

.wed {
    background-color: var(--c-cyan);
    height: 130px;
}

.thu {
    height: 80px;
}

.fri {
    height: 60px;
}

.sat {
    height: 100px;
}

.sun {
    height: 70px;
}